# Não deixa subir as bases de dados
*.csv
*.rds
*.db
*.tab
*.xlsx
*.xls
*.Rhistory
*.pyc
.~lock.**
*.RData
*.RHistory
*.pdf
*.png
*.pickle
*.joblib
*.pyc
*.ipynb
*.dat
*.lp
*.egg
*.parquet
*.zip
*.json

**.secrets
**.logs
**.log
